<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ioannisd.ounbeacon_v1">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:icon="@drawable/socrates"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.package.name.MyActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>

        <activity
            android:name=".Rooms.Winter"
            android:label="WINTER"
            android:exported="true"
            />
        <activity
            android:name=".Rooms.WinterClasses.Lesson1"
            android:label="Winter - Lesson1 - Beamer Connection"
            android:exported="true"
            />
        <activity
            android:name=".Rooms.WinterClasses.Lesson2"
            android:label="Winter - Lesson2 - Beamer Connection"
            android:exported="true"
            />
        <activity
            android:name=".Rooms.Summer"
            android:label="SUMMER"
            android:exported="true"
            />
        <activity
            android:name=".Rooms.SummerClasses.Lesson1"
            android:label="Summer - Lesson1 - Beamer Connection"
            android:exported="true"
            />
        <activity
            android:name=".Rooms.SummerClasses.Lesson2"
            android:label="Summer - Lesson2 - Beamer Connection"
            android:exported="true"
            />
</application>

</manifest>
